<form (submit)="submit()" >
  <modal (onHide)="hideModal($event)">
    <div modal-title>
      Editar produto
    </div>
    <div modal-body>
        <card-error *ngIf="showErrors()">
            <list-error [errors]="errors"></list-error>
          </card-error>
          <product-form [form]="form"></product-form>
    </div>
    <div modal-footer>
      <button class="btn btn-secondary" data-dismiss="modal">Fechar</button>
      <button type="submit" class="btn btn-primary" [disabled]="!form.valid">Editar</button>
    </div>
  </modal>
</form>
