<form (submit)="submit()" >
  <modal (onHide)="hideModal($event)">
    <div modal-title>
      Editar produto
    </div>
    <div modal-body>
        <card-error *ngIf="showErrors()">
            <list-error [errors]="errors"></list-error>
          </card-error>

          <product-form [form]="form"></product-form>

          <hr>

          <div class="box-photo" *ngIf="product?.photo_url">
            <h6>Foto atual:</h6>
            <img [src]="product?.photo_url" alt="" >
          </div>
    </div>
    <div modal-footer>
      <button class="btn btn-secondary" data-dismiss="modal">Fechar</button>
      <button type="submit" class="btn btn-primary" [disabled]="!form.valid">Editar</button>
    </div>
  </modal>
</form>
