<form action="" (submit)="submit()" >
  <modal (onHide)="hideModal($event)">
    <div modal-title>
      Editar categoria - {{category.name}}
    </div>
    <div modal-body>
      <div class="form-group">
        <label for="name">Nome</label>
        <input type="text" class="form-control" name="name" [(ngModel)]="category.name">
      </div>
    </div>
    <div modal-footer>
      <button class="btn btn-secondary" data-dismiss="modal">Fechar</button>
      <button type="submit" class="btn btn-primary">Editar</button>
    </div>
  </modal>
  </form>
