<div class="form-group" [formGroup]="form">
  <label for="name">Nome</label>
  <input type="text" class="form-control" formControlName="name" [id]="fieldsOptions.name.id" isInvalid>
  <field-error [field]="form.get('name')" [label]="fieldsOptions.name.label"
    [messages]="fieldsOptions.name.validationMessage"></field-error>
</div>

<div class="form-group" [formGroup]="form">
  <label for="description">Descrição</label>
  <textarea class="form-control" name="description" formControlName="description" [id]="fieldsOptions.description.id"
    isInvalid></textarea>
  <field-error [field]="form.get('description')" [label]="fieldsOptions.description.label"
    [messages]="fieldsOptions.description.validationMessage"></field-error>
</div>

<div class="form-group" [formGroup]="form">
  <label for="price">Preço</label>
  <input type="number" class="form-control" name="price" formControlName="price" [id]="fieldsOptions.price.id"
    isInvalid>
    <field-error [field]="form.get('price')" [label]="fieldsOptions.price.label"
    [messages]="fieldsOptions.price.validationMessage"></field-error>
</div>

<div class="form-group form-check" [formGroup]="form">
  <input type="checkbox" class="form-check-input" name="active" formControlName="active" id="active">
  <label class="form-check-label">Ativo?</label>
</div>
